registry=http://nexuscloud2.banco.bestado.cl/repository/npm-group/
email=admin@example.org
always-auth=true
strict-ssl=false
dev=true
unsafe-perm=true
include[]=dev
//nexuscloud2.banco.bestado.cl/repository/npm-group/:_auth="ZGV2czpEZXZzLk9wcy4kNjQyMDI="
