<div class="index-page-container">
	<div class="row m-16">
		<div class="asd-col__md-12">
			<asd-headtitle title="Consulta de cuentas (Plantilla ejemplo angular-16)">
				<asd-button *ngIf="showResultTable()" size="x-small" asdtype="tonal" title="Exportar a Excel" (click)="exportExcel()">
					<asd-icon name="asd_export" color="#244980" size="16"></asd-icon> Exportar a Excel
				</asd-button>
			</asd-headtitle>
		</div>
	</div>
	<div class="row m-16">
		<div class="asd-col__md--6">
			<asd-card [headerDivider]="true">
				<div cardHeader>
					<h2>Filtro Tipo Cuentas</h2>
				</div>

				<div cardContent>
					<asd-input-label for="selected-2" id="asd-label-select-2" forForce>Tipo Cuentas</asd-input-label>
					<asd-select
						aria-labelledby="asd-label-select-2"
						id="selected-2"
						direction="bottom"
						[value]="selectedOption().description"
						(optionsSelectedEmitter)="optionSelectedHandler($event)">
						<asd-select-option *ngFor="let option of options()" [value]="option">
							{{ option.description }}
						</asd-select-option>
					</asd-select>
				</div>

				<div cardFooter>
					<asd-button color="primary" (click)="submit()">Consultar</asd-button>
				</div>
			</asd-card>
		</div>
	</div>
	<div *ngIf="showResultTable()" class="row m-16">
		<div class="asd-col__md--8">
			<asd-card>
				<div cardHeader>
					<h3>Resultado Búsqueda</h3>
				</div>
				<div cardContent>
					<asd-table hideSeachInput [data]="tableDatasource()">
						<ng-template asdTable="head">
							<tr>
								<th sort sortBy="accountNumber">Número</th>
								<th sort sortBy="accountOwner">Titular</th>
								<th sort sortBy="accountName">Cuenta</th>
								<th sort sortBy="creditCardIssuer">Tarjeta Crédito</th>
								<th sort sortBy="currency">Moneda</th>
								<th style="min-width: 110px" sort sortBy="balance">Saldo</th>
								<th sort sortBy="lastTransactionDate">Ultima Transaccion</th>
							</tr>
						</ng-template>
						<ng-template let-rows asdTable="body">
							<tr *ngFor="let dataRow of rows">
								<td>
									<a tabindex="0" (click)="dataClickedHanlder(dataRow)" (keyup)="dataClickedHanlder(dataRow)">{{ dataRow.accountNumber }}</a>
								</td>
								<td>{{ dataRow.accountOwner }}</td>
								<td>{{ dataRow.accountName }}</td>
								<td [ngClass]="{ 'red-text': dataRow.creditCardIssuer === 'mastercard' }">{{ dataRow.creditCardIssuer }}</td>
								<td>{{ dataRow.currency }}</td>
								<td asdAlign="right">{{ dataRow.balance | moneda: dataRow.currency : '1.0-0' }}</td>
								<td>{{ dataRow.lastTransactionDate | date: 'dd/MM/yyyy' }}</td>
							</tr>
						</ng-template>
						<asd-table-paginator direction="bottom" [rows]="5" [rowsOptions]="[5, 10, 20]" />
					</asd-table>
				</div>
			</asd-card>
		</div>
		<div class="asd-col__md--4">
			<be-selected-accounts-list-test></be-selected-accounts-list-test>
		</div>
	</div>
</div>
